# inore vscode settings
.vscode/
__pycache__/
secrets*
ConnectionHandler.py
hardware/*.pdf
eup/*
.coverage
htmlcov/*
*.log

# ignore Extron certification and credential files
**/*-certification.dat
**/*-credential.dat